body {
  background: #f8f8f8;
  font-family: "TT Lakes Compressed Medium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "TT Lakes Compressed Regular";
  src: url("fonts/TTLakes-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Compressed Medium";
  src: url("fonts/TTLakes-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

header {
  margin-bottom: 35px;
  padding-top: 20px;
  padding-left: 20px;
}

.header {
  min-width: 320px;
  height: 80px;
  font-family: "TT Lakes Compressed Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #7e7e82;
  background: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);
  border-top: 1px solid #d9fff5;
}

.switch-button {
  display: none;
}

.swiper-pagination {
  display: block;
}

.logos {
  display: block;
  max-width: 100%;
}

.swiper-container {
  margin-left: 20px;
  display: block;
  overflow-x: hidden;
  max-width: 100%;
}

.swiper-wrapper {
  display: flex;
  max-width: 100%;
}

.link-lenovo {
  background: url("logos/cat1.png");
  background-repeat: no-repeat;
  height: 72px;
  width: 240px;
}

.link-samsung {
  background: url("logos/cat1copy.png");
  background-repeat: no-repeat;
  height: 72px;
  width: 240px;
}

.link-apple {
  background: url("logos/cat1copy2.png");
  background-repeat: no-repeat;
  height: 72px;
  width: 240px;
}

.link-viewsonic {
  background: url("logos/cat1copy3.png");
  background-repeat: no-repeat;
  height: 72px;
  width: 240px;
}

.link-bosch {
  background: url("logos/cat1copy7.png");
  background-repeat: no-repeat;
  height: 72px;
  width: 240px;
}

.link-hp {
  background: url("logos/cat1copy8.png");
  background-repeat: no-repeat;
  height: 72px;
  width: 240px;
}

.link-aser {
  background: url("logos/cat1copy9.png");
  background-repeat: no-repeat;
  height: 72px;
  width: 240px;
}

.link-sony {
  background: url("logos/cat1copy10.png");
  background-repeat: no-repeat;
  height: 72px;
  width: 240px;
}

.swiper-position {
  margin-left: 20px;
}

.pagination-position {
  position: relative;
  text-align: center;
  margin-top: 10px;
}

.swiper-pagination-bullet {
  background: #adaaaa;
}

.swiper-pagination-bullet-active {
  background: #b5b6bc;
}

/* 768 */

@media (min-width: 768px) {
  .container {
    display: block;
    margin-left: 20px;
    overflow-x: hidden;
    max-width: 100%;
  }

  .logos {
    display: flex;
    row-gap: 20px;
    flex-wrap: wrap;
  }

  .logos_full {
    max-height: 600px;
  }

  .logos_cut {
    max-height: 170px;
    overflow: hidden;
  }

  .swiper-pagination {
    display: none;
  }

  .switch-button {
    display: block;
    position: relative;
    margin-left: 45px;
  }

  button {
    border: none;
    background: none;
    color: #1b1c21;
    font-size: 14px;
    font-family: "TT Lakes Compressed Medium", sans-serif;
    margin-top: 20px;
  }

  .switch-button::before,
  .switch-button::after {
    display: block;
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-left: 2px solid #41f6d7;
    border-top: 2px solid #41f6d7;
    transform: rotate(45deg);
  }

  .switch-button::before {
    top: 3px;
    left: -20px;
  }

  .switch-button::after {
    top: 10px;
    left: -20px;
  }

  .switch-button_active::before,
  .switch-button_active::after {
    transform: rotate(-135deg);
  }
}
